/* Definições gerais do site */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --font-md: clamp(0.2rem, 2.5vw + 0.1rem, 1.8rem)
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(0, 31, 58, 1);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Montserrat;
}

.container-header{
    height: 16vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.container{
    width:80vw;
    height: 14vh;
    display: flex;
}

.container-esquerda,
.container-direita{
    width: 40vw;
    display: flex;
    align-items: center;
}
.container-direita{
    width: 60vw;
}
.logo{
    height: 14vh;
    width: 19vw;
}

.container-direita{
    justify-content: flex-end;
}

.menu a{
    color: rgba(158, 158, 158,0.5);
    font-size: var(--font-md);
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-left: 2vw;
}
.menu a:hover{
    color:rgba(255, 255, 255);
    transition: all 0.4s ease-in-out;
}

.container-section{
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1{
    width:83vw;
    height: 74vh;
}




